/* Asterisk for overriding browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: grey;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0 1px 1px black;
    z-index: 99;
    padding: 0.25rem 1rem;
}

#heading {
    text-decoration: none;
}

h1 {
    color: whitesmoke;
    font-size: 275%;
    padding: 1rem;
}

nav {
    position: absolute;
    background-color: grey;
    top: 100%;
    width: 100vw;
    left: 0;
    box-shadow: 0 1px 1px black;
    display: none;
    padding: 1rem;
}

#nav-menu {
    font-size: 120%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

#nav-menu li a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked ~ nav {
    display: block;
}

.nav-toggle-label {
    font-size: 150%;
    padding-right: 1rem;
}

.active {
    border-bottom: 1px solid whitesmoke;
}

/* Main */
main {
    background-color: brown;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: grey;
    padding: 0.5rem;
    box-shadow: 0 -1px 1px black;
}

#socials {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0.5rem 1rem;
}

#socials li a {
    color: whitesmoke;
}