/* Asterisk for overriding browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: navy;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    box-shadow: 0 1px 1px black;
    z-index: 99;
    padding: 0.25rem 1rem;
}

#heading {
    text-decoration: none;
}

h1 {
    color: whitesmoke;
    font-size: 275%;
    padding: 0.25rem 0.5rem;
}

nav {
    position: absolute;
    background-color: navy;
    top: 100%;
    width: 100vw;
    left: 0;
    box-shadow: 0 1px 1px black;
    display: none;
    padding: 1rem;
}

#nav-menu {
    font-size: 120%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

#nav-menu li a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked ~ nav {
    display: block;
}

.nav-toggle-label {
    font-size: 200%;
    padding-right: 1rem;
    color: whitesmoke;
}

.active {
    border-bottom: 1px solid whitesmoke;
}

/* Main */
main {
    background-color: brown;
    flex: 1 0 auto;
    margin-top: 67px;
}

/* Gallery */
#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery h2 {
    color: whitesmoke;
    padding: 0.8rem 0;
    letter-spacing: 2px;
    text-decoration: underline;
    font-size: 200%;
}

.photos img {
    width: 100%;
    column-gap: 0;
}

/* Footer */
footer {
    background-color: navy;
    padding: 0.5rem;
    box-shadow: 0 -1px 1px black;
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: 80%;
    align-self: center;
    padding-bottom: 0.5rem;
    color: whitesmoke;
}

#socials {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0.5rem 1.5rem;
}

#socials li a {
    color: whitesmoke;
}