/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/* Asterisk for overriding browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #2a2a2a;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    box-shadow: 0 1px 1px black;
    z-index: 99;
    padding: 0.25rem 1rem;
}

#heading {
    text-decoration: none;
}

h1 {
    color: whitesmoke;
    font-size: 275%;
    padding: 0.25rem 0.5rem;
    font-family: "merriweather", sans-serif;
    letter-spacing: 0.2rem;
}

nav {
    position: absolute;
    background-color: #2a2a2a;
    top: 100%;
    width: 100vw;
    left: 0;
    box-shadow: 0 1px 1px black;
    display: none;
    padding: 1rem;
}

#nav-menu {
    font-size: 120%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

#nav-menu li a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    font-size: 200%;
    padding-right: 0.5rem;
    color: whitesmoke;
}

.active {
    border-bottom: 1px solid whitesmoke;
}

/* Main */
main {
    background-color: #2596be;
    flex: 1 0 auto;
    margin-top: 67px;
}

#hero-image {
    background: url(../images/hero_image.jpg) no-repeat center center/cover;
    position: relative;
    height: 650px;
    width: 100%;
}

#hero-text h2 {
    background-color: rgba(42, 42, 42, 0.8);
    position: absolute;
    top: 15px;
    right: 10px;
    min-height: 50px;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    font-family: "merriweather", sans-serif;
    color: whitesmoke;
}

#hero-text1 h2 {
    background-color: rgba(42, 42, 42, 0.8);
    position: absolute;
    bottom: 20px;
    left: 20px;
    min-height: 50px;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    font-family: "merriweather", sans-serif;
    color: whitesmoke;
}

#car-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#car-info h2 {
    padding: 20px 0;
    text-decoration: underline;
    font-family: "merriweather", sans-serif;
    color: whitesmoke;
}

#car-info p {
    text-align: left;
    padding: 0.5rem 1rem;
    font-family: "source serif 4", sans-serif;
    line-height: 1rem;
}

.aero-chassis {

}

.pu {

}

.trans-tires {

}
.brakes-fuel {
    
}

/* Gallery */
#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery h2 {
    color: whitesmoke;
    padding: 0.8rem 0;
    letter-spacing: 2px;
    text-decoration: underline;
    font-size: 200%;
    font-family: "merriweather", sans-serif;
}

.photos img {
    width: 100%;
    column-gap: 0;
}

/* Footer */
footer {
    background-color: #2a2a2a;
    padding: 0.5rem;
    box-shadow: 0 -1px 1px black;
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: 80%;
    align-self: center;
    padding-bottom: 0.5rem;
    color: whitesmoke;
    font-family: "source serif 4", sans-serif;
}

#socials {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0.5rem 1.5rem;
}

#socials li a {
    color: whitesmoke;
}